.navbar-expand-lg {
	background-color: #F6BDE9;
}
.navbar-brand {
    font-family: '8BIT WONDER', sans-serif;
}

.nav-link	{
	font-family: 'PF Din Text Universal', sans-serif;
}

.mt-4 {
	font-family: 'Gajraj One', sans-serif;
}

.lead {
	font-family: 'Panton Narrow', sans-serif;
}

.mt-3 {
	font-family: 'Panton Narrow', sans-serif;
	 border: 2px solid #000; 
    padding: 10px;
}

body {
  background-image: url("assets/back.png");
}

img {
  border: 10px solid #555;
}





